<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="element">
          <directory>./tests/Element</directory>
        </testsuite>
        <testsuite name="html">
          <directory>./tests/Html</directory>
        </testsuite>
        <testsuite name="uikit">
          <directory>./tests/UIKit</directory>
        </testsuite>
        <testsuite name="feed">
          <directory>./tests/Feed/Rss</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
</phpunit>
